{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project1{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
</head>

<nav>
    <a href="{% url 'mainapp:home' %}">Главная</a>
    <a href="{% url 'mainapp:free' %}">Бесплатные</a>
    <a href="{% url 'mainapp:top' %}">Топ по цене</a>
    <a href="{% url 'mainapp:about' %}">О магазине</a>
    <a href="{% url 'mainapp:reviews' %}">Отзывы</a>
</nav>

<hr>

{% block content %}

{% endblock %}

</body>
</html>