{% extends 'mainapp/base.html' %}

{% block title %}Бесплатные{% endblock %}

{% block content %}

<h1>Бесплатные приложения</h1>

<p>Найдено приложений: {{ apps|length }}</p>

{% for app in apps %}
    <div class="app-card">

        <h2>
            <a href="{% url 'mainapp:app_detail' app.id %}">
                {{ app.name }}
            </a>
        </h2>

        <p>Категория: {{ app.category }}</p>
        <p>Цена: Бесплатно</p>

    </div>

{% empty %}
    <p>Бесплатных приложений пока нет.</p>
{% endfor %}

{% endblock %}